<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/custom/custom.css}">
    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/style-general.css}">
</head>
<body>

<nav th:replace="fragments :: navbar"></nav>

<main class="container">

    <h1 th:text="${title}" class="my-3"></h1>

    <form th:action="@{/editorial/__${action}__}" th:object="${editorial}" class="mb-3" method="POST">

        <input type="text" th:field="*{id}" hidden>

        <div class="mb-3">
            <label for="name" class="form-label">Editorial's name</label>
            <input type="text" id="name" class="form-control" th:field="*{name}">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-custom-2 text-light" th:text="${action == 'save-editorial'} ? 'Send' : 'Update'"></button>
        </div>
    </form>
</main>

<!-- Bootstrap JS -->
<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<!-- Font Awesome JS -->
<script src="https://kit.fontawesome.com/355497287f.js" crossorigin="anonymous"></script>
</body>
</html>